#memory {

	position: relative;
	overflow: hidden;
	width: 100%;
	max-width: 960px;
	margin: auto;
	text-align: center;

	> .card {
		background-size: 0 0;
		float: left;
		margin: 0 2.5px 5px 2.5px;
		border-radius: 5px;
		cursor: pointer;
		display: inline-block;

		&.blocked {
			cursor: not-allowed;
		}

		&.selected,
		&.found {
			background-size: cover;
	  	}

	  	&.unpaired {
	  		background: #c6c6c6 !important;

	  		&:hover {
	  		    box-shadow: 2px 2px 1px #9a9797;
	  		}
	  	}
	}

}